
/* colors  */

:root { --main-grey: #212121; 
    --white: #FFFFFF; 
    --light-grey: #757575;
    --blue: #2196F3;
    --beige-1: #EEEEEE;
    --black: #000000;
    --beige-2: #F5F4FA;
    --dark-grey: #2F303A;
    --beige-3: #ECECEC;
}

/* colors end */

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-grey);
    background-color: #fff;
    font-size: 14px;
    letter-spacing: 0.03em;
    width: 1600px;
    margin: 0 auto;
}

header {
    border-bottom: 1px solid var(--beige-3);
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.flex-nav-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.flex-inside-nav {
    display:flex;
    align-items: center;
}

.menu {
    margin-left: 93px;
    display: flex;
}

.menu li {
    margin: 32px 46px;
    }
    
.contact {
    display:flex;
}

.contact li {
    margin: 0 50px;
}

button {
    cursor: pointer;
    font-family: inherit;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.logo-span {
    color: var(--black)
}
.logo-footer-span {
    color: var(--white);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue);
    text-decoration: none;
}

.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-grey);
}
.contact-link:active, .contact-link:hover, .contact-link:focus {
    color: var(--blue);
}


.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:  var(--light-grey);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--white);
    display: flex;
}

.filter li {
    margin: 0 8px;
}

.button-filter {
    width: 93px;
    height: 38px;
    background: var(--beige-2);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}

.button-filter:hover, .button-filter:focus {
    color: var(--white);
    background-color: var(--blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

}

.portfolio-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.portfolio-type {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--light-grey);
}
.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item {
    width: calc((100%-60px) / 3);
}

footer {
    background-color: var(--dark-grey);
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue);
    text-decoration: none;
    padding-bottom: 20px;
}

address {
    font-style: normal;
}

.address-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white);
}

.address li {
    padding-bottom: 9px;
}

.address-link:hover, .address-link:focus{
    color: var(--blue);
}

.address-transparent {
    color: rgba(255, 255, 255, 0.6);
}
